* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;

    box-sizing: content-box;
    width: 540px;
    height: 650px;
    margin: 100px auto;
}

.clothUp {
    width: 480px;
    height: 625px;
    margin: 0 auto;

    border: 5px solid #510b00;
    border-radius: 50%/40%;
    background: #ffae81;
}

.clothDown {
    position: absolute;
    bottom: 25px;

    width: 540px;
    height: 235px;
    margin: 0 auto;

    border: 5px solid #510b00;
    border-top-color: transparent;
    border-radius: 50% 50%;
    background: #ffae81;
}

.clothLeft {
    position: absolute;
    bottom: 167px;
    left: 5px;

    width: 50px;
    height: 160px;

    background: #ffae81;
}

.clothLeft::after {
    position: absolute;
    bottom: -11px;
    left: -6px;

    display: block;

    width: 26px;
    height: 170px;

    content: '';

    border: 5px solid #510b00;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-right-radius: 100%;
    background: white;
    background-clip: padding-box;
}

.clothRight {
    position: absolute;
    right: 5px;
    bottom: 167px;

    width: 50px;
    height: 160px;

    background: #ffae81;
}

.clothRight::after {
    position: absolute;
    right: -6px;
    bottom: -11px;

    display: block;

    width: 26px;
    height: 170px;

    content: '';

    border: 5px solid #510b00;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-bottom-left-radius: 100%;
    background: white;
    background-clip: padding-box;
}



.hat {
    position: absolute;
    top: 80px;
    left: 60px;

    overflow: hidden;

    width: 420px;
    height: 310px;

    border: 5px solid #510b00;
    border-radius: 50% / 70% 70% 30% 30%;
}

.face {
    position: absolute;
    top: -5px;
    left: 50px;

    width: 320px;
    height: 295px;

    border: 5px solid #510b00;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: #ffece5;
}

.neck {
    position: absolute;
    bottom: 0;
    left: 185px;

    width: 50px;
    height: 16px;

    border-right: 5px solid #510b00;
    border-left: 5px solid #510b00;
    background: linear-gradient(to bottom, rgba(255, 236, 229, 1) 19%, rgba(248, 201, 183, 1) 31%);
}

.hair {
    position: absolute;
    top: 84px;
    left: 62px;

    overflow: hidden;

    width: 416px;
    height: 500px;

    border-radius: 50% / 44% 44% 30% 30%;
}

.hair1 {
    position: absolute;
    top: 34px;
    left: 17px;

    width: 77px;
    height: 306px;

    border: 5px solid #510b00;
    border-right: 1px solid transparent;
    border-radius: 60% 0 0 60% / 50% 0 0 50%;
    background: #fbd7b3;
}

.hair1mask {
    position: absolute;
    top: 32px;
    left: 64px;

    width: 30px;
    height: 218px;

    border: 5px solid #510b00;
    border-right: transparent;
    border-radius: 100% 0 0 100% / 40% 0 0 50%;
    background: #ffece5;
}

.hair1mask2 {
    position: absolute;
    top: 202px;
    left: 54px;

    width: 40px;
    height: 50px;

    border-bottom: 5px solid #510b00;
    border-left: 5px solid #510b00;
    border-bottom-left-radius: 100%;
    background: #fbd7b3;
}

.hair1mask3 {
    position: absolute;
    top: 187px;
    left: 68px;

    width: 26px;
    height: 153px;

    border-top: 5px solid #510b00;
    border-bottom: 5px solid #510b00;
    border-left: 5px solid #510b00;
    border-radius: 30% 0 0 100% / 30% 0 0 70%;
    background: #ffae81;
}

.hair1mask4 {
    position: absolute;
    top: 310px;
    left: 50px;

    width: 49px;
    height: 50px;

    transform: rotate(0deg);

    border: 5px solid #510b00;
    border-radius: 0 100px 0 100px;
    background: #ffae81;
}

.hair1mask5 {
    position: absolute;
    top: 339px;
    left: 50px;

    width: 80px;
    height: 60px;

    background: #ffae81;
}

.hair2 {
    position: absolute;
    top: 15px;
    right: 24px;

    width: 77px;
    height: 306px;

    transform: rotate(-6deg);

    border: 5px solid #510b00;
    border-left: 1px solid transparent;
    border-radius: 0 60% 100% 0 / 0 50% 50% 0;
    background: #fbd7b3;
}

.hair2mask {
    position: absolute;
    top: 19px;
    right: 76px;

    width: 30px;
    height: 239px;

    transform: rotate(-5deg);

    border: 5px solid #510b00;
    border-left: transparent;
    border-radius: 0 100% 100% 0 / 0 40% 50% 0;
    background: #ffece5;
}

.hair2mask2 {
    position: absolute;
    top: 180px;
    right: 45px;

    width: 50px;
    height: 80px;

    border-right: 5px solid #510b00;
    border-bottom: 5px solid #510b00;
    border-bottom-right-radius: 100%;
    background: #fbd7b3;
}

.hair2mask3 {
    position: absolute;
    top: 187px;
    right: 64px;

    width: 28px;
    height: 136px;

    transform: rotate(-6deg);

    border-top: 5px solid #510b00;
    border-right: 5px solid #510b00;
    border-bottom: 5px solid #510b00;
    border-radius: 0 30% 100% 0 / 0 30% 70% 0;
    background: #ffae81;
}

.hatLine {
    position: absolute;
    top: -4px;
    left: -2px;

    overflow: hidden;

    width: 420px;
    height: 310px;

    border: 5px solid #510b00;
    border-radius: 50% / 70% 70% 30% 30%;

    clip-path: ellipse(142px 500px at 51% 51%);
}

.hair3 {
    position: absolute;
    top: -14px;
    left: 76px;

    width: 60px;
    height: 120px;

    transform: rotate(-20deg);

    border: 5px solid #510b00;
    border-radius: 100% 0 100% 0 / 100% 0 100% 0;
    background: #fbd7b3;
}

.hair4 {
    position: absolute;
    top: -22px;
    right: 105px;

    width: 60px;
    height: 120px;

    transform: rotate(9deg);

    border: 5px solid #510b00;
    border-radius: 0 90% 0 100% / 0 100% 0 90%;
    background: #fbd7b3;
}

.hair5 {
    position: absolute;
    top: -11px;
    left: 123px;

    width: 125px;
    height: 125px;

    transform: rotate(45deg);

    border: 5px solid #510b00;
    border-radius: 0 500px;
    background: #fbd7b3;
}

.hair6 {
    position: absolute;
    top: -8px;
    left: 217px;

    width: 15px;
    height: 117px;

    transform: rotate(-10deg);

    border: 5px solid #510b00;
    border-left: none;
    border-radius: 0 60% 100% 0 / 0 50% 50% 0;
    background: #fbd7b3;
}

.hair7 {
    position: absolute;
    top: -4px;
    left: 203px;

    width: 15px;
    height: 115px;

    transform: rotate(-10deg);

    border: 5px solid #510b00;
    border-right: none;
    border-radius: 60% 0 0 100% / 50% 0 0 50%;
    background: #fbd7b3;

    clip-path: ellipse(10px 61px at 92% 100%);
}

.hair8 {
    position: absolute;
    top: 0;
    left: 192px;

    width: 20px;
    height: 20px;

    background: #fbd7b3;
}

.leftEye {
    position: absolute;
    top: 228px;
    left: 186px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #630801;
}

.rightEye {
    position: absolute;
    top: 224px;
    left: 318px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #630801;
}

.leftEyeBrow {
    position: absolute;
    top: 207px;
    left: 164px;

    width: 44px;
    height: 5px;

    transform: rotate(31deg);

    background: #630801;
}

.rightEyeBrow {
    position: absolute;
    top: 205px;
    left: 320px;

    width: 44px;
    height: 5px;

    transform: rotate(-24deg);

    background: #630801;
}

.mouth {
    position: absolute;
    top: 237px;
    left: 255px;

    overflow: hidden;

    width: 44px;
    height: 80px;

    transform: rotate(-3deg);

    border: 5px solid #510b00;
    border-radius: 50%;

    clip-path: ellipse(96px 40px at 50% 100%);
}

.tongue {
    position: absolute;
    top: 46px;
    left: -7px;

    width: 50px;
    height: 50px;

    border: 5px solid #510b00;
    border-radius: 50%;
    background: #f8c1bc;
}

.leftred {
    position: absolute;
    top: 281px;
    left: 139px;

    width: 45px;
    height: 30px;

    transform: rotate(-24deg);
    ;

    border-radius: 50%;
    background: #f58077;
}

.leftred::after {
    position: absolute;
    top: 8px;
    left: 5px;

    display: block;

    width: 10px;
    height: 10px;

    content: '';

    border-radius: 50%;
    background: #ffece5;
}

.rightred::after {
    position: absolute;
    top: 8px;
    left: 26px;

    display: block;

    width: 10px;
    height: 10px;

    content: '';

    border-radius: 50%;
    background: #ffece5;
}


.rightred {
    position: absolute;
    top: 275px;
    left: 350px;

    width: 40px;
    height: 30px;

    transform: rotate(24deg);
    ;

    border-radius: 50%;
    background: #f58077;
}

.rightcloth1 {
    position: absolute;
    top: 442px;
    left: 219px;

    width: 200px;
    height: 50px;

    transform: rotate(45deg);

    border: 5px solid #510b00;
    border-top: none;
    border-right: none;
    border-radius: 20px;
    background: #ffae81;
}

.rightcloth2 {
    position: absolute;
    top: 530px;
    left: 361px;

    width: 100px;
    height: 20px;

    transform: rotate(4deg);

    border-bottom: 5px solid #510b00;
    border-radius: 20px;
    background: #ffae81;
}

.leftcloth1 {
    position: absolute;
    top: 454px;
    left: 123px;

    width: 163px;
    height: 50px;

    transform: rotate(-45deg);

    border-bottom: 5px solid #510b00;
    border-radius: 20px;
    background: #ffae81;
}

.leftcloth2 {
    position: absolute;
    top: 529px;
    left: 76px;

    width: 100px;
    height: 20px;

    transform: rotate(-4deg);

    border-bottom: 5px solid #510b00;
    border-radius: 20px;
    background: #ffae81;
}

.shirt {
    position: absolute;
    top: 472px;
    left: 148px;

    width: 225px;
    height: 123px;

    border: 5px solid #510b00;
    border-radius: 50px 50px 90px 100px / 50px 50px 20px 30px;
    background: white;
}

.shirt::after {
    position: absolute;
    top: -25px;
    left: 80px;

    display: block;

    width: 70px;
    height: 50px;

    content: '';

    background: white;
}

.leftfoot {
    position: absolute;
    bottom: -4px;
    left: 188px;

    width: 40px;
    height: 100px;

    border: 5px solid #510b00;
    border-radius: 0 0 13px 13px / 0 0 70px 70px;
    background: white;
}

.leftfoot::after {
    position: absolute;
    top: 25px;
    left: 0;

    display: block;

    width: 30px;
    height: 20px;

    content: '';

    border-bottom: 5px solid #510b00;
    border-radius: 50%;
    background: #ffece5;
}

.rightfoot {
    position: absolute;
    bottom: -4px;
    left: 300px;

    width: 40px;
    height: 100px;

    border: 5px solid #510b00;
    border-radius: 0 0 13px 13px / 0 0 70px 70px;
    background: white;
}

.rightfoot::after {
    position: absolute;
    top: 25px;
    left: 0;

    display: block;

    width: 30px;
    height: 20px;

    content: '';

    border-bottom: 5px solid #510b00;
    border-radius: 50%;
    background: #ffece5;
}

.lefthand {
    position: absolute;
    bottom: 80px;
    left: 121px;

    width: 20px;
    height: 40px;

    border: 5px solid #510b00;
    border-radius: 0 0 13px 13px / 0 0 70px 70px;
    background: #ffece5;
}

.righthand {
    position: absolute;
    bottom: 80px;
    left: 381px;

    width: 20px;
    height: 40px;

    border: 5px solid #510b00;
    border-radius: 0 0 13px 13px / 0 0 70px 70px;
    background: #ffece5;
}

.leftear {
    position: absolute;
    top: 34px;
    left: 67px;

    width: 80px;
    height: 60px;

    transform: rotate(-40deg);

    border: 5px solid #510b00;
    border-bottom-color: transparent;
    border-radius: 50%;
    background: #ffae81;
}

.leftear::after {
    position: absolute;
    top: 15px;
    left: 20px;

    display: block;

    width: 30px;
    height: 20px;

    content: '';

    border-radius: 50%;
    background: white;
}

.rightear {
    position: absolute;
    top: 34px;
    right: 67px;

    width: 80px;
    height: 60px;

    transform: rotate(40deg);

    border: 5px solid #510b00;
    border-bottom-color: transparent;
    border-radius: 50%;
    background: #ffae81;
}

.rightear::after {
    position: absolute;
    top: 15px;
    right: 20px;

    display: block;

    width: 30px;
    height: 20px;

    content: '';

    border-radius: 50%;
    background: white;
}


.bearlefteye {
    position: absolute;
    top: 36px;
    left: 256px;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: #630801;
}

.bearrighteye {
    position: absolute;
    top: 36px;
    left: 280px;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: #630801;
}

.bearlb {
    position: absolute;
    top: 28px;
    left: 248px;

    width: 20px;
    height: 5px;

    transform: rotate(-31deg);

    background: #630801;
}

.bearrb {
    position: absolute;
    top: 28px;
    left: 280px;

    width: 20px;
    height: 5px;

    transform: rotate(31deg);

    background: #630801;
}

.bearlm {
    position: absolute;
    top: 50px;
    left: 254px;

    width: 20px;
    height: 25px;

    transform: rotate(10deg);

    border: 5px solid #510b00;
    border-radius: 50%;
    background: white;
}

.bearrm {
    position: absolute;
    top: 50px;
    left: 270px;

    width: 20px;
    height: 25px;

    transform: rotate(-10deg);

    border: 5px solid #510b00;
    border-radius: 50%;
    background: white;
}